<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./style/style.css">
    <body>

       <h1>404 page not found</h1> 
       {{>header}}
       <p>{{error}}</p>

       <footer>
        {{>footer}}
    </footer>

    </body>
    
</head>