<!DOCTYPE html>
<head>
    This is the head of the about Page
    <body>
        {{>header}}
        <link rel="stylesheet" href="./style/style.css">
        <p>This is the First App I have created in nodejs</p>
    </body>
     <footer>
        {{>footer}}
    </footer>
</head>