<!DOCTYPE html>
<head>
    This is the head of the about Page
    <body>
        {{>header}}
        <link rel="stylesheet" href="./style/style.css">
        <p>This is the paragraph and I am about to start my own business hellow Arif thank you {{name}} and {{university}}</p>
    </body>
     <footer>
        {{>footer}}
    </footer>
</head>